aiodns
aiohappyeyeballs
aiohttp
aiohttp-jinja2
aiosignal
alembic
amqp
arrow
asgiref
attrs
autobahn
Automat
bcrypt
billiard
cbor2
celery
certifi
cffi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cron-descriptor
cryptography
daphne
Django>=4.2.0,<5.0.0
django-axes
django-celery-beat
django-cors-headers
django-environ
django-jazzmin
django-redis
django-timezone-field
django-widget-tweaks
django_celery_results
frozenlist
grafana_api_client
greenlet
gunicorn
hyperlink
idna
Incremental
Jinja2
jinja2-time
jwcrypto
kombu
loguru
Mako
markdown-it-py
MarkupSafe
mdurl
msgpack
multidict
novnc
numpy
packaging
pandas
prometheus_client
prompt_toolkit
propcache
proxmoxer
psutil
psycopg2-binary
py-ubjson
pyasn1
pyasn1_modules
pycares
pycparser
Pygments
pyjabber
PyMySQL
pyOpenSSL
python-crontab
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
redis
requests
rich
service-identity
singletonify
six
slixmpp_multiplatform
spade
SQLAlchemy
sqlparse
timeago
Twisted
txaio
typing_extensions
tzdata
ujson
urllib3
vine
wcwidth
websockify
whitenoise
yarl
zope.interface
