{% extends 'usuarios/base_gerente.html' %}

{% block content %}
<div style="height: calc(100vh - 75px); display: flex; flex-direction: column;">
    {% include 'pedidos/detalle_mesa_contenido.html' %}
</div>

<!-- Contenedor para MODALES HTMX -->
<div id="modal-container"></div>

{% if rawbt_b64 %}
<script>
    setTimeout(() => {
        var intent_suffix = "#Intent;scheme=rawbt;package=ru.a402d.rawbtprinter;end;";
        var encoded_data = "base64,{{ rawbt_b64 }}";
        var iframe = document.createElement('iframe');
        iframe.style.display = 'none';
        iframe.src = "intent:" + encoded_data + intent_suffix;
        document.body.appendChild(iframe);
        setTimeout(() => document.body.removeChild(iframe), 1000);
    }, 500);
</script>
{% endif %}

{% endblock %}